<!-- <div *ngIf="errorListData.length > 0" class="sf-error-list-nav" role="alert" aria-live="assertive" [@slideIn]>
    <h3>The following <span>{{errorListData.length}}</span> items require your attention</h3>
    <ul class="-list-style-none">
        <li *ngFor="let errorData of errorListData">
            <a (keyup.enter)="onClick(errorData.field)" (click)="onClick(errorData.field)" class="-sf-txt-failure" href="#{{errorData.field.key}}">{{errorData.message}}</a>
        </li>
    </ul>
</div> -->

<div class="sf-error-list-nav" role="alert" aria-live="assertive" [@slideIn]>
    <h3>The following <span>1</span> items require your attention</h3>
    <ul class="-list-style-none">
        <li>
            <a class="-sf-txt-failure" href="#Summche">Summche</a>
        </li>
    </ul>
</div>
